<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xgr.wechatpay">

    <application>

        <activity
            android:name="com.xgr.wechatpay.activity.WXPayActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale|screenLayout|keyboardHidden"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.xgr.wechatpay.activity.WXPayActivity" />
    </application>

</manifest>
